@charset "utf-8";
body,
html {
  width: 100%;
  height: 100%;
  background-color: #ffffcd;
  overflow-x: hidden;
}
.header {
  width: 100%;
  height: 16.36rem;
  background-image: url("../img/dial/dial-bg.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.header img {
  width: 13.3rem;
  height: 4.04rem;
  margin: auto;
  margin-top: 1rem;
}
.main {
  position: relative;
  width: 100%;
  z-index: 10;
}
.main .turntable {
  position: relative;
  width: 12rem;
  margin: auto;
  z-index: 10;
}
.main .turntable .rotate {
  position: absolute;
  left: 0;
  top: -9.2rem;
  width: 12rem;
  height: 12rem;
}
.main .turntable .rotate img {
  width: 100%;
  height: 100%;
}
.main .turntable .pointer {
  position: absolute;
  left: 4.64rem;
  top: -5.2rem;
  width: 2.84rem;
  height: 3.8rem;
}
.main .turntable .pointer img {
  width: 100%;
  height: 100%;
}
.main .turntable-bottom {
  position: relative;
  left: 0;
  top: -0.6rem;
  width: 100%;
  height: 5rem;
  margin: auto;
  z-index: 1;
}
.main .turntable-bottom img {
  width: 100%;
  height: 100%;
}
.main .rules {
  position: relative;
  left: 0;
  top: -0.6rem;
  width: 100%;
  height: auto;
}
.main .rules img {
  width: 5.46rem;
  height: 1.2rem;
  margin: auto;
}
.main .rulestext {
  width: 14rem;
  margin: auto;
  font-size: 0.7rem;
  line-height: 1.5;
  color: #BB7D36;
  font-family: "微软雅黑";
  text-indent: 2em;
  font-weight: 600;
}
.mark {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 11;
  overflow: hidden;
  display: none;
}
.mark .box {
  width: 11.86rem;
  height: 13.84rem;
  background-image: url("../img/dial/box-bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 5.3rem;
  position: relative;
}
.mark .box .close {
  width: 1.68rem;
  height: 1.68rem;
  position: absolute;
  top: -0.6rem;
  right: 0rem;
}
.mark .box .close img {
  width: 100%;
  height: 100%;
}
.mark .box .award {
  width: 9rem;
  height: 4.2rem;
  margin: auto;
  color: #d0483a;
  text-align: center;
  padding-top: 3.8rem;
}
.mark .box .award .award-top {
  font-size: 1.2rem;
  font-weight: 600;
}
.mark .box .award .award-bottom {
  font-size: 1rem;
  margin-top: 1.6rem;
}
.mark .box .sure {
  width: 5.52rem;
  height: 2.04rem;
  line-height: 2.04rem;
  background-image: url("../img/dial/gain-an.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 1.14rem;
  left: 3.06rem;
  text-align: center;
  color: #d0483a;
  font-size: 0.7rem;
  font-weight: 600;
}
